@font-face {
  font-family: Chopin;
  src: url(./fonts/chopin-script.regular.ttf);
}

@font-face {
  font-family: Calligraphy;
  src: url(./fonts/Bold\ &\ Stylish\ Calligraphy.ttf);
}

@font-face {
  font-family: Cassandra;
  src: url(./fonts/cassandra-personal-use.regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700;900&display=swap'); */

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
  height: 100vh;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .main-image {
  height: 100vh;
  min-width: 100vw;
} */

/* --------- COMMON ----------------- */

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

/* .alternate-section-1 {
  background-color: #f8f8ee;
} */

.section-heading {
  font-family: Chopin, cursive;
  /* font-size: 8vmax; */
  font-size: 8rem;
  text-align: center;
  padding: 1% 0%;
  font-weight: 600;
  color: #581d07;
}

/* @media (max-width: 450px) {
  .section-heading {
    font-size: 4rem;
  }
} */

*:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
}

/* -------------- MAIN SECTION ----------------------- */

.main-section {
  background-image: url('./images/main-section-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  height: 100vh;
}

.layer {
  background-color: rgb(87, 0, 0, 0.55);
  height: 100%;
  width: 100%;
  /* padding-top: 12%;
  padding-bottom: 7%; */
  color: #fff;
  position: relative;
  z-index: 2;
}

.main-title {
  text-align: center;
  font-family: Chopin, cursive;
  font-size: 9rem;
  color: gold;
  /* padding-top: 32%; */
  font-weight: 800;
  position: relative;
  top: 52%;

  /* margin-top: 70%; */
}

.main-names-img {
  width: 90%;
  /* text-align: center; */
  position: relative;
  top: 60%;
  left: 5%;
}

.mobile-main-names-img {
  width: 75%;
  position: relative;
  top: 45%;
  left: 12.5%;
}
.and-img {
  width: 10%;
  display: block;
  margin: auto;
}

/* -------------- COUNTDOWN -------------------------- */

.countdown-container {
  background-color: #907018;
  z-index: 10;
  width: 60%;
  text-align: center;
  margin: auto;
  font-family: 'Red Rose';
  font-weight: 700;
  padding-bottom: 0.5%;
  position: absolute;
  bottom: -5vh;
  left: 20%;

  clear: both;
}

.count {
  font-size: 3vmax;
}

.count-unit {
  font-size: 1.2vmax;
}

/* ---------------- Invitation Section ------------------ */

/* .invitation-poster {
  width: 80%;
  display: block;
  margin: 0 auto;
} */
.invitation-section {
  background-color: #642711;
  /* background-color: #730400; */
  background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png');
}

.invitation-container {
  /* padding: % 0; */
  /* min-height: 80vh; */
}

.invitation-container .container-fluid {
  /* padding: % 0; */
  height: inherit !important;
}

.invitation-container .col-md-7,
.invitation-container .col-md-5 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.invitation-pic {
  /* max-width: 100%; */
  min-height: 100%;
  max-width: 100%;
  /* object-fit: contain; */
}

.content-container {
  padding: 10% 2%;
  text-align: center;
  background-color: #642711;
  /* background-color: #730400; */
  background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png');
  min-height: 100%;
}

.invitation-names {
  font-family: Chopin;
  color: #f8ba5d;
  padding-top: 2.5%;
  padding-bottom: 2.4%;
  font-size: 4.5rem;
}
.assisting-text {
  text-transform: uppercase;
  color: #f1dba9;
  font-family: 'Montserrat', serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.invitation-date {
  font-size: 3.1rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.lamp1 {
  width: 80%;
  height: 450px !important;
  /* margin-left: 20px; */
  /* display: block; */
  float: right;
}

.lamp2 {
  width: 80%;
  height: 450px !important;
  float: left;
}

.lamp-col {
  padding: 0px !important;
}

/* 576 - 768 */

/* --------------- INTRO SECTION ------------------------- */

.introduction-section {
  background-image: url('./images/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  background-position: top center;
  padding-bottom: 7%;
}

.intro-heading {
  padding-top: 3%;
  padding-bottom: 3%;
}

.intro-cards {
  text-align: center;
}

/* .card-profile {
  margin-top: 30px;
  text-align: center;
} */

.card-profile {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 6px;
  background-color: transparent !important;
  border-color: #86361a !important;
  border-width: 4px !important;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  margin-top: 30px;
  text-align: center;
  /* min-height: 100%; */
}

.card-profile .card-avatar {
  max-width: 220px;
  border-radius: 100%;
  margin: -50px auto 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-color: #86361a !important;
  border-width: 4px !important;
  border: 4px solid #86361a;
  /* box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
    0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%); */
  transition-duration: 0.15s;
}

.card-profile .card-avatar:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card-profile img {
  width: 100%;
  height: auto;
}

/* .card-profileimg:hover {
  max-width: 225px;
} */

.card-profile .table {
  padding: 15px 30px;
}

.table {
  margin-bottom: 0px;
}

.card-caption {
  font-weight: 800;
  font-size: 2rem;
  font-family: 'Cassandra', cursive;
  color: #3d060d;
}
.card-caption,
.card-caption a {
  /* color: #333; */
  text-decoration: none;
}

.card-description {
  font-family: cursive;
  font-size: 1.17rem;
  font-weight: bolder;
}

/* ------------------- PARENTS SECTION -------------------------- */

.parents-section {
  /* background: rgb(253, 250, 238);
  background: linear-gradient(
    180deg,
    rgba(253, 250, 238, 1) 0%,
    rgba(246, 218, 107, 1) 100%
  ); */
  background: rgb(253, 250, 238);
  background: linear-gradient(
    180deg,
    rgba(253, 250, 238, 1) 0%,
    rgba(181, 90, 55, 1) 100%
  );
  padding-bottom: 7%;
}

.parents-pic {
  border-radius: 100%;
  width: 70%;
  /* height: ; */
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.parents-block {
  /* border: black 2px solid; */
  border-radius: 6px;
  height: 90%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: justify;
}

/* --------FAMILY SECTION ------- */

.family-section {
  /* background: rgb(129, 102, 102);
  background: linear-gradient( */
  /* 180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(203, 64, 93, 1) 100%
  ); */
  /* background-color: #730400;

  background-image: url('https://www.transparenttextures.com/patterns/black-scales.png'); */
  background-image: url('../src/images/family-bg2.jpg');
  /* background-size: cover; */

  padding-bottom: 5%;
}

.family-section .carousel-indicators {
  height: 2px;
  /* padding-top: 1px; */
  position: absolute;
  bottom: 0 !important;
}

.family-section .carousel-indicators button {
  /* margin-top: 1%; */
  border: 0px transparent solid;
  height: 3px;
  width: 27px;

  /* border-radius: 100%; */
  margin-right: 1.2%;
  background-color: rgba(109, 84, 14, 0.7);
}

.family-section .carousel-indicators .active {
  background-color: #493705;
}

.bubble {
  height: auto;
  width: 100%;
  padding: 4% 5% 2%;
  /* padding-bottom: 2%; */
  min-height: 250px;
  /* min-width: 200px; */
  background: ivory;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  /* margin-top: 50px; */
  font-size: 1rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.pointer {
  height: 40px;
  width: 40px;
  background: ivory;
  margin: 0 auto;
  transform: rotate(45deg);
  /* border-radius: 0 0 0 12px; */
  /* margin-left: -14px; */
  position: relative;
  /* top: calc(0.5vh - 250px); */
}

.parents-pointer {
  border-radius: 0 0 12px 0;
  margin-top: -40px;
  left: calc(0.5vw - 31%);
}

.groom-sibling-pointer {
  margin-left: -20px;
  top: calc(0.5vh - 60%);
  border-radius: 0 0 0 12px;
}

.bride-sibling-pointer {
  margin-right: -15px;
  top: calc(0.5vh - 50%);
  border-radius: 0 12px 0 0;
}

.bubble-img-container {
  position: relative;
  top: 2%;
}

.bubble-img-container img {
  border-radius: 100%;
  width: 95%;
  display: block;
  position: relative;
  border: 6px white solid;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* left: 2vw; */
}

.sibling-msg .family-member-intro {
  text-align: center;
  /* position: relative;
  top: 18%; */
  font-weight: 700;
  color: #86361a;
  margin-top: 15%;
  /* font-size: 1.5rem; */
}

.sibling-msg .family-member-name {
  font-family: Cassandra, cursive;
  font-size: 1.2rem;
}

.sibling-msg .family-member-relation {
  font-size: 1rem;
  text-transform: uppercase;
}

.sibling-msg .col-md-7,
.sibling-msg .col-md-5 {
  padding: 0px !important;
}

.parents-msg .family-member-intro {
  text-align: left;
  position: relative;
  top: 35%;
  font-weight: 700;
  font-family: Cassandra, cursive;
  color: #86361a;
  font-size: 1.5rem;
}

.parents-msg .bubble {
  min-height: 292px !important;
}

.bubble-text {
  white-space: 'pre-wrap';
}

.read-more-btn {
  padding: 1%;
  color: black;
  text-decoration: underline;
  font-weight: 500;
  border: none !important;
  border-radius: 10px;
  background: none;

  /* background-color: #907018; */
}

.family-section button {
  /* background-color: #907018; */
}

/* -------------------------- FRIENDS SECTION ------------------------- */

.friends-section button {
  /* background-color: #912031; */
}

.friends-section {
  background: rgb(181, 90, 55);
  background: linear-gradient(
    180deg,
    rgba(181, 90, 55, 1) 0%,
    rgba(209, 148, 19, 1) 100%
  );
  background-image: url('../src/images/friends-msgs-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 7%;
  /* position: relative; */
  /* overflow: hidden; */
  /* width: 100vw; */
  /* max-width: 100vw; */
  padding-top: 3%;
}

.friends-heading {
  color: #fff0f0;
}

.friends-slider-container {
  margin-top: 5%;
}

.friends-section .carousel-indicators {
  height: 1px;
  /* padding-top: 1px; */
  position: absolute;
  bottom: -15px !important;
}

.friends-section .carousel-indicators button {
  /* margin-top: 1%; */
  border: 1px transparent solid;
  width: 30px;

  /* border-radius: 100%; */
  margin-right: 1.5%;
  background-color: rgba(243, 189, 189, 0.7);
}

.friends-section .carousel-indicators .active {
  background-color: #7e1427;
}

.friends-card {
  /* margin: 1px; */
  margin-bottom: 10px;
  padding: 2%;
  padding-bottom: 4%;
  background-color: #fae1e5 !important;
  background-image: url('https://www.transparenttextures.com/patterns/gplay.png');
  align-content: justify !important;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  min-height: 450px;
  /* max-height: 400px; */
  height: auto;
  /* min-height: 100%; */
  /* min-height: ; */
}

.friends-card .card-body {
  padding-bottom: 10px !important;
}

.friends-card-img {
  /* width: 30% !important; */
  border-radius: 100%;
  width: 160px;
  height: 160px;
  border: 5px white solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: block;
  margin: auto;
}

.friends-intro-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.friend-name {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: Cassandra, cursive;
  color: #e74362;
  letter-spacing: 1px;
}

.sub-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: Cassandra, cursive;
  color: #f7d3d8;
  letter-spacing: 1px;
}

.friends-msg {
  /* font-size: 1.1rem; */
  /* font-family: cursive; */
  /* font-size: 1.2rem; */
  /* font-weight: bold; */
  font-weight: 500;
}

.bridesmaid-heading {
  text-align: right;
  margin-top: 7%;
  /* margin-top: 2%; */
}

/* -------------------------- VENUE SECTION ------------------------- */

.venue-heading {
  padding-top: 7%;
}

.venue-section {
  /* background: rgb(209, 148, 19);
  background: linear-gradient(
    180deg,
    rgba(209, 148, 19, 1) 0%,
    rgb(202, 187, 158) 100%
  ); */

  padding-bottom: 5%;
  background-image: url('../src/images/balloon-bg.jpg');
  background-size: cover;
}

/* #videoBG {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: auto;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
} */

.venue-card {
  padding: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1%;
  margin-bottom: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* min-height: 430px; */
  min-height: 100% !important;
  height: 100%;
  border-radius: 20px;
  transition: top ease 0.5s;
  position: relative;
  top: 0;
}

.venue-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  top: -12px;
}
.venue-container {
  height: 100%;
  background-color: white !important;
  padding: 6%;
  border-radius: 5px;
  text-align: center;
}

.venue-card-icon {
  /* width: 20% !important; */
  height: 100px;
}

.venue-card-function {
  font-weight: bold;
  font-size: 1.3rem;
  color: #6b4018;
  font-family: Cassandra, cursive;
  margin-top: 10px;
}

.venue-card-details-container {
  font-size: 1.1rem;
  color: rgb(22, 21, 21);
  margin-top: 10px;
  font-weight: 500;
}

.venue-name {
  font-weight: 600;
  color: #925923;
  font-size: 1.1rem;
}

.venue-card-contact {
  /* color: #86361a !important; */
  font-size: 1.15rem;
  font-weight: bold;
}

.venue-card-contact a {
  color: #925923 !important;
}

.venue-card-map-button {
  background-color: transparent;
  color: #925923;
  border: #925923 solid 2px;
  font-weight: 500;
  padding: 2% 5% !important;
}

.venue-card-map-button:hover {
  background-color: #925923;
  color: #fff;
}

/* ----------------------- RSVP Section ------------------------- */

.rsvp-section {
  padding-top: 2%;
  padding-bottom: 7%;
  background-image: url('./images/rsvp-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.rsvp-heading {
  color: #fff;
  font-family: 'Red Rose';
  text-transform: uppercase;
  font-weight: 800;
  transition-duration: 0.1s;

  text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 10px #fff, 0 0 10px #f8f1f1,
    0 0 0px #f8f1f1, 0 0 0px #f8f1f1, 0 0 0px #f8f1f1, 0 0 50px #f8f1f1;
}

.form-container {
  width: 60%;
  background-color: rgb(240, 232, 232);
  border-radius: 4px;
  padding: 6%;
  margin: auto;
}

.form-heading {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3%;
  color: #912031;
  letter-spacing: 1px;
  /* font-family: Cassandra, cursive; */
}

.rsvp-form-btn {
  border-radius: 30px;
  padding: 2% 4%;
  background-color: #912031;
  color: white;
  border: none;
}

.rsvp-form-btn:hover,
.rsvp-form-btn:focus {
  background-color: #50111b;
}

.form-msg {
  font-weight: bold;
  font-size: 1.75rem;
  font-family: cursive;
  color: #912031;
  margin-top: 7%;
  line-height: 2;
}

/* ------ Hashtag -------- */

.hashtag-section {
  background-image: url('../src/images/wood-bg1.jpeg');
  background-size: cover;
  background-position: center center;
  padding: 2%;
  font-size: 5.5vmax;
  font-weight: 600;
  text-align: center;
  font-family: 'Red Rose', 'Montserrat', sans-serif;
  border: 10px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

/* ------------- MEDIA QUERIES ----------------------- */

@media screen and (max-width: 450px) {
  .main-section {
    background-image: url('./images/main-section-bg-mobile1.jpg');
    background-position: center bottom !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-title {
    font-size: 4rem;
    top: 60%;
    /* color: red; */
  }

  .section-heading {
    font-size: 4rem !important;
  }
  .countdown-container {
    bottom: -2vh;
    width: 90%;
    left: 5%;
  }

  .invitation-pic {
    min-width: 100% !important;
    max-height: 50% !important;
  }

  .invitation-date {
    font-size: 2.8rem;
  }
  .assisting-text {
    padding-top: 5%;
  }

  .invitation-venue {
    margin-top: 5%;
  }

  .form-container {
    width: 90%;
    margin: 6% auto;
  }

  .form-heading {
    font-size: 1.8rem;
  }

  .form-msg {
    font-size: 1rem;
  }

  .rsvp-form-btn {
    padding: 3% 5%;
  }

  /* .venue-card {
    margin-bottom: 20px;
  } */
}

@media screen and (min-width: 450px) and (max-width: 650px) {
  .main-title {
    font-size: 5rem;
    top: 55%;
  }
  .countdown-container {
    bottom: -3vh;
    width: 80%;
    left: 10%;
  }
  .invitation-date {
    font-size: 2.8rem;
  }

  .section-heading {
    font-size: 5rem;
  }
  .form-container {
    width: 80%;
  }
}

@media screen and (min-width: 650px) and (max-width: 1050px) {
  .main-title {
    font-size: 6.2rem;
    top: 60%;
  }
  .invitation-date {
    font-size: 2.8rem;
  }

  .section-heading {
    font-size: 6.5rem;
  }
  .form-container {
    width: 70%;
  }

  .card-profile {
    width: 100%;
    min-height: 100% !important;
  }
}

@media (max-width: 767px) {
  .content-container {
    background-image: url('../src/images/invite-bg4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .family-section {
    padding-bottom: 20%;
  }

  .parents-bubble .bubble {
    margin-bottom: 6px;
  }

  .parents-pointer {
    top: calc(0.5vh - 5px);
  }

  .sibling-msg .bubble {
    margin-bottom: 0px;
  }

  .speech-bubble .col-5,
  .speech-bubble .col-sm-5,
  .speech-bubble .col-7,
  .speech-bubble .col-sm-7 {
    padding: 0 !important;
  }

  .speech-bubble .family-member-intro {
    text-align: left !important;
    margin-left: 5%;
  }

  .groom-sibling-pointer {
    border-radius: 0 0 12px 0;
    /* margin-top: -100px; */
    left: calc(0.5vw + 20%);
    top: calc(0.5vh - 25px);
    /* background-color: black; */
  }

  .bride-sibling-pointer {
    border-radius: 0 0 12px 0;
    /* margin-top: -100px; */
    left: calc(0.5vw - 80%);
    top: calc(0.5vh - 24px);
    /* background-color: black; */
  }

  .family-section .carousel-indicators {
    bottom: -20px !important;
  }
}

@media screen and (max-width: 768px) {
  .sub-heading {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .invitation-container .col-sm-12,
  .invitation-container .col-12 {
    padding: 0 !important;
  }

  .friend-name {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 1.4rem;
  }

  .bridesmaid-heading {
    margin-top: 30px;
  }

  .friends-slider-container {
    padding-bottom: 50px;
  }
  .countdown-container {
    bottom: -3vh;
    width: 80%;
    left: 10%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .friends-slider-container {
    margin-left: 30px !important;
    margin-right: 30px !important;
    max-width: 92% !important;
    margin: auto;
  }

  .countdown-container {
    bottom: -3vh;
    width: 80%;
    left: 10%;
  }

  .friend-name {
    margin-left: 15%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .sangeet-function-name {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .sangeet-function-name {
    font-size: 1.2rem;
  }

  .countdown-container {
    width: 80%;
    bottom: -3vh;
    left: 10%;
  }
}
/* #ChaitanyaGotPragyaed */
/* NYKFLO4ASPIN34 */
/* NYKUGAIESPIN33 */
